@charset "UTF-8";
.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-top: 14px;
}
.menu li a:hover {
  text-decoration: underline;
  text-decoration-color: white; /* Assure que le trait est bien blanc */
}

.site-header {
  background-color: black;
}

.site-header.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 140px;
}

.site-logo {
  flex: 0 0 auto;
  margin-left: 146px;
  margin-top: 14px;
}

.main-navigation {
  text-align: right;
  margin-right: 214px;
  display: flex;
  flex-direction: row-reverse;
}
.main-navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
}
.main-navigation ul li {
  margin-left: 20px;
}
.main-navigation ul li:first-child {
  margin-left: 0;
}

.menu-toggle {
  display: none;
}

@media (min-width: 769px) {
  .menu li a {
    position: relative;
  }
  .menu li a::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: black;
    position: absolute;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
  }
  .menu li a:hover::after {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .site-header {
    position: relative;
    z-index: 1000;
  }
  .site-header .container {
    height: 90px;
  }
  .site-logo {
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 50px;
  }
  .site-logo img {
    width: 150px;
    margin-top: 50px;
  }
  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffd700;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 1001;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .menu-toggle .menu-toggle-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
  }
  .menu-toggle .menu-toggle-icon span {
    width: 1.2rem;
    height: 0.25rem;
    background: black;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    display: block;
    margin: 4px 0;
  }
  .menu-toggle .menu-toggle-icon span.closed {
    transform: translateY(0);
  }
  .menu-toggle.cross .menu-toggle-icon span:nth-child(1) {
    transform-origin: -5% 150%;
    transform: rotate(45deg) translate(0px, 0);
  }
  .menu-toggle.cross .menu-toggle-icon span:nth-child(2) {
    opacity: 0;
  }
  .menu-toggle.cross .menu-toggle-icon span:nth-child(3) {
    transform-origin: 0% -180%;
    transform: rotate(-45deg) translate(0, -5px);
  }
  .main-navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #a3d680, #75c993, #50bba3, #2caeb4);
    font-size: 1em;
    text-align: center;
    justify-content: center;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
    z-index: 999;
  }
  .main-navigation ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .main-navigation .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    justify-content: center;
    gap: 40px;
    display: flex;
    flex-direction: column;
  }
  .main-navigation li.menu-item a {
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    padding: 4px 0;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 18px;
  }
  .main-navigation li.menu-item a:hover {
    background-color: #f0f0f0;
    color: #333;
  }
  .main-navigation.open {
    height: 70vh;
  }
  body.menu-open {
    overflow: hidden;
  }
}
.site-footer {
  background-color: black;
  color: white;
}
.site-footer .footer-links,
.site-footer .footer-copyright {
  text-align: center;
  padding: 15px;
}
.site-footer .footer-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}
.site-footer .footer-links ul {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-footer .footer-links li {
  margin: 0 10px;
}
@media (max-width: 768px) {
  .site-footer .footer-links ul {
    flex-direction: column;
    align-items: center;
  }
  .site-footer .footer-links li {
    margin: 5px 0;
  }
}

.hero {
  position: relative;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: "Poppins", Arial, sans-serif;
  padding: 0 20px;
  overflow: hidden;
  /* Style du bouton "Demander un devis" */
}
.hero .hero-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: linear-gradient(to bottom, #2caeb4, #50bba3, #75c993, #a3d680);
}
.hero .hero-background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .hero-content {
  z-index: 1;
  position: relative;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 3s ease, transform 3s ease;
}
.hero .hero-content.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.hero .hero-text {
  font-size: 50px;
  margin-bottom: 30px;
  color: #fff;
}
.hero .hero-text strong {
  font-weight: bold;
  color: #ffd700;
}
.hero .hero-expertise {
  font-size: 28px;
  margin-bottom: 20px;
  color: #fff;
  display: block;
}
.hero .hero-expertise strong {
  background: linear-gradient(to bottom, #2caeb4, #50bba3, #75c993, #a3d680);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}
.hero #role {
  font-size: 28px;
  margin-top: 20px;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(to bottom, #2caeb4, #50bba3, #75c993, #a3d680);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.hero .cta-button {
  display: inline-block;
  margin-top: 20px; /* Pour espacer du contenu précédent */
  padding: 15px 30px;
  background-color: #ffd700;
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
.hero .cta-button i {
  margin-right: 10px; /* Espace entre l'icône et le texte */
}
.hero .cta-button:hover {
  background-color: #fff;
}
.hero h1:hover,
.hero p:hover {
  transform: scale(1.05);
}
@media (max-width: 768px) {
  .hero .hero {
    height: 60vh;
  }
  .hero .hero-text {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .hero .hero-expertise {
    font-size: 24px;
  }
  .hero #role {
    font-size: 24px;
  }
  .hero .cta-button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

.parcours {
  padding: 50px 0 100px 0; /* Marge interne en haut et en bas */
  background: linear-gradient(to bottom, #a3d680, #75c993, #50bba3, #2caeb4);
}
.parcours .parcours-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 40px;
}
.parcours .parcours-container .parcours-image {
  flex: 1;
  text-align: center;
}
.parcours .parcours-container .parcours-image img {
  max-width: 80%; /* Ajuste la taille de l'image à 80% du conteneur */
  height: auto;
  border-radius: 50%; /* Image en cercle */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
}
.parcours .parcours-container .parcours-text {
  flex: 2;
  font-size: 1.2em;
  line-height: 1.6;
  text-align: center;
}
.parcours .parcours-container .parcours-text h2 {
  display: inline-block;
  font-size: 3em;
  color: #333;
  padding: 10px 50px; /* Ajoute du padding pour aérer le cadre */
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .parcours .parcours-container .parcours-text h2 {
    font-size: 2rem;
  }
}
.parcours .parcours-container .parcours-text p {
  color: #555;
}
@media (max-width: 768px) {
  .parcours .parcours-container .parcours-text p {
    font-size: 17px;
  }
}
@media (max-width: 768px) {
  .parcours .parcours-container {
    flex-direction: column;
    text-align: center;
  }
  .parcours .parcours-container .parcours-image {
    max-width: 80%;
  }
}
.parcours .parcours-extra {
  max-width: 800px;
  margin: 80px auto 0 auto;
  padding: 20px;
  border-top: 2px solid #e0e0e0; /* Ligne de séparation */
  border-bottom: 2px solid #e0e0e0; /* Ligne de séparation */
  text-align: center;
}
.parcours .parcours-extra p {
  font-size: 1em;
  color: #555;
  margin-bottom: 20px;
  margin-top: 50px;
}
.parcours .parcours-extra .links {
  display: flex;
  justify-content: center;
}
.parcours .parcours-extra .links .btn {
  display: flex; /* Utiliser flex pour l'alignement des boutons */
  align-items: center; /* Alignement des icônes et du texte */
  padding: 10px;
  text-transform: uppercase; /* Garder les textes en majuscule */
  text-decoration: none;
  border-radius: 4px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  position: relative;
  color: #333;
  font-size: 70%;
}
.parcours .parcours-extra .links .btn:hover {
  animation: swing 0.5s ease-in-out; /* Ajouter l'animation swing au survol */
}
.parcours .parcours-extra .links .btn .icon {
  height: auto;
  margin-right: 30px;
  margin-left: 30px;
}
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 768px) {
  .parcours-container {
    padding: 0 10px;
  }
  .parcours-text {
    text-align: center;
  }
  .parcours-extra {
    text-align: center;
  }
  .parcours-extra .links {
    align-items: center;
  }
  .parcours-extra .links .btn {
    margin-bottom: 15px;
  }
}
.collaborer {
  padding: 40px 20px;
  background: linear-gradient(135deg, #f0f0f0, #d3d3d3);
  position: relative;
  /* Ligne de progression */
  /* Version mobile */
  /* Version tablette */
  /* Version très petite tablette / mobile */
}
.collaborer .collaborer-title {
  text-align: center;
  font-size: 3.5em;
  margin-bottom: 100px;
  color: black;
}
.collaborer .collaborer-container {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.collaborer .collaborer-step {
  display: flex;
  align-items: flex-start;
  margin-bottom: 40px;
  position: relative;
}
.collaborer .collaborer-step .collaborer-icon .icon-circle {
  width: 40px;
  height: 40px;
  background: #ffd700;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}
.collaborer .collaborer-step .collaborer-icon .icon-circle i {
  color: white;
  font-size: 1.2em;
  transform: translateY(5px);
}
.collaborer .collaborer-step .collaborer-content {
  background: linear-gradient(to bottom, #2caeb4, #50bba3, #75c993, #a3d680);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin-left: 20px;
}
.collaborer .progress-line {
  position: absolute;
  left: 24.8%; /* Position pour la version desktop */
  top: 320px; /* Ajustement de la position verticale */
  width: 4px; /* Largeur de la ligne */
  background: black; /* Couleur de la ligne */
  height: 0; /* Hauteur initiale */
  transition: height 0.4s ease, opacity 0.4s ease; /* Transition fluide */
  opacity: 0; /* Initialement cachée */
  z-index: 1;
}
@media (max-width: 768px) {
  .collaborer .progress-line {
    left: 8.2%; /* Ajuste la position à gauche pour la version mobile */
    top: 250px;
  }
  .collaborer .collaborer-title {
    font-size: 2.5em; /* Réduit la taille du titre pour les écrans mobiles */
    margin-bottom: 50px; /* Ajuste l'espacement si nécessaire */
  }
}
@media (max-width: 600px) {
  .collaborer .progress-line {
    left: 8%; /* Ajuste la position pour les écrans très petits */
    top: 230px; /* Position encore plus bas pour les petits écrans */
  }
}
@media (max-width: 480px) {
  .collaborer .progress-line {
    left: 9.8%; /* Décale encore plus à droite pour les plus petits écrans */
    top: 200px; /* Ajustement supplémentaire pour une meilleure position */
  }
  .collaborer .collaborer-title {
    font-size: 2em; /* Réduit encore plus la taille du titre */
    margin-bottom: 40px; /* Ajuste l'espacement */
  }
}

#competences {
  padding: 50px 0;
  background: linear-gradient(to bottom, #a3d680, #75c993, #50bba3, #2caeb4);
}
#competences .container {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
#competences .competences-title {
  font-size: 3em;
  margin: 0 auto 70px auto;
  color: #333;
  border: solid 2px;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 100px;
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s ease, transform 2s ease;
}
#competences .competences-title.is-visible {
  opacity: 1;
  transform: translateY(0);
}
#competences .competences-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 50px;
}
#competences .competences-grid .competence {
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  flex: 1 1 calc(20% - 40px);
  max-width: 400px;
  min-width: 300px;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s ease, transform 2s ease;
}
#competences .competences-grid .competence.is-visible {
  opacity: 1;
  transform: translateY(0);
}
#competences .competences-grid .competence .competence-icon {
  font-size: 3em;
  margin-bottom: 10px;
}
#competences .competences-grid .competence h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}
#competences .competences-grid .competence .percentage {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
}
#competences .competences-grid .competence p {
  font-size: 1em;
  color: rgb(65, 66, 64);
}

@media (max-width: 768px) {
  #competences .competences-title {
    font-size: 1.6em;
    padding: 10px 70px;
  }
  #competences .competences-grid {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
  }
}
.services {
  background: linear-gradient(to bottom, #2caeb4, #50bba3, #75c993, #a3d680);
  padding: 50px 20px;
}
.services .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.services .container .section-title {
  font-size: 3rem;
  text-align: center;
  margin: 0 auto 40px;
  color: #333;
  padding: 10px 80px;
  border: 2px solid;
  display: inline-block;
  border-radius: 10px;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s ease, transform 2s ease, visibility 2s ease;
}
.services .container .section-title.is-visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
@media (max-width: 768px) {
  .services .container .section-title {
    font-size: 2rem;
    padding: 10px;
    margin: 0 auto 30px;
  }
}
.services .container .services-intro {
  text-align: center;
  margin-bottom: 50px;
}
.services .container .services-intro .services-subtitle {
  font-size: 2.5rem;
  color: black;
  margin-bottom: 80px;
}
@media (max-width: 768px) {
  .services .container .services-intro .services-subtitle {
    font-size: 1.8rem;
  }
}
.services .container .services-intro p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .services .container .services-intro p {
    font-size: 1rem;
  }
}
.services .container .services-blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-bottom: 60px;
}
.services .container .services-blocks .service-block {
  background: linear-gradient(135deg, #f0f0f0, #d3d3d3);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}
.services .container .services-blocks .service-block:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}
.services .container .services-blocks .service-block h4 {
  font-size: 1.5rem;
  color: rgb(10, 174, 139);
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .services .container .services-blocks .service-block h4 {
    font-size: 1.3rem;
  }
}
.services .container .services-blocks .service-block p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.5;
}
@media (max-width: 768px) {
  .services .container .services-blocks .service-block p {
    font-size: 1.1rem;
  }
}
.services .container .services-button {
  text-align: center;
  margin-top: 40px;
}
.services .container .services-button .btn {
  display: inline-block;
  padding: 25px 40px;
  background-color: #ffd700;
  color: black;
  border-radius: 20px;
  text-decoration: none;
  font-size: 1.3rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.services .container .services-button .btn:hover {
  background-color: #f0f0f0;
}
@media (max-width: 768px) {
  .services .container .services-button .btn {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .services {
    padding: 30px 10px;
  }
  .container {
    padding: 0 10px;
  }
  .services-blocks {
    gap: 20px;
  }
  .service-block {
    padding: 20px;
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .services {
    padding: 20px 5px;
  }
}
@media (max-width: 320px) {
  .services {
    padding: 15px 5px;
  }
}
.services-tarifs-container {
  padding: 50px;
  background: linear-gradient(to bottom, #a3d680, #75c993, #50bba3, #2caeb4);
  color: #333;
}
.services-tarifs-container .services-title {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 20px;
}
.services-tarifs-container .services-intro {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 100px;
  text-align: center;
}
.services-tarifs-container .info-text {
  font-style: italic;
  color: #808080;
}
.services-tarifs-container .creations-button {
  text-align: center;
  margin-bottom: 50px;
}
.services-tarifs-container .creations-button .btn {
  background-color: #ffd700;
  color: black;
  padding: 20px 50px;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.services-tarifs-container .creations-button .btn:hover {
  background-color: #fff;
}
.services-tarifs-container .services-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.services-tarifs-container .services-grid .service-block {
  flex: 1 1 300px;
  max-width: 350px;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
}
.services-tarifs-container .services-grid .service-block h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  text-align: center;
}
.services-tarifs-container .services-grid .service-block .service-description {
  font-size: 1rem;
  margin-bottom: 15px;
}
.services-tarifs-container .services-grid .service-block .service-price {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #2caeb4;
  border-bottom: solid;
}
.services-tarifs-container .services-grid .service-block .service-details {
  list-style: none;
  padding: 0;
}
.services-tarifs-container .services-grid .service-block .service-details li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.services-tarifs-container
  .services-grid
  .service-block
  .service-details
  li
  img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.services-tarifs-container
  .services-grid
  .service-block
  .service-details
  li
  span {
  margin-left: 5px;
}

@media (max-width: 768px) {
  .services-tarifs-container {
    padding: 30px;
  }
  .services-tarifs-container .services-title {
    font-size: 2.4rem;
  }
  .services-tarifs-container .services-intro {
    font-size: 1rem;
  }
  .services-tarifs-container .services-grid {
    gap: 20px;
  }
  .services-tarifs-container .service-block {
    padding: 20px;
  }
}
@media (max-width: 480px) {
  .services-tarifs-container {
    padding: 20px;
  }
  .services-tarifs-container .services-title {
    font-size: 2.2rem;
  }
  .services-tarifs-container .services-intro {
    font-size: 0.9rem;
  }
  .services-tarifs-container .creations-button .btn {
    padding: 10px 20px;
  }
  .services-tarifs-container .services-grid {
    gap: 15px;
  }
  .services-tarifs-container .service-block {
    padding: 15px;
    max-width: 100%;
  }
  .services-tarifs-container .service-price {
    font-size: 1.2rem;
  }
  .services-tarifs-container .service-description {
    font-size: 0.9rem;
  }
}
.conteneur {
  display: block;
}

.faq-section {
  background-color: #1a1a1a; /* Couleur de fond */
  padding: 50px 20px; /* Espacement autour de la section */
  color: white; /* Couleur du texte */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); /* Ombre portée */
  margin-bottom: 50px; /* Marge en bas pour séparer des autres sections */
  margin-top: 90px;
}

.faq-title {
  text-align: center; /* Centrer le titre */
  margin-bottom: 30px; /* Marge sous le titre */
}

.faq-title h2 {
  font-size: 2.5em; /* Taille du titre */
  color: #ffd700; /* Couleur du titre */
  margin-bottom: 50px;
}

.faq-content {
  display: flex; /* Flexbox pour la mise en page */
  justify-content: space-evenly; /* Espacement entre les colonnes */
  align-items: stretch; /* Étendre les éléments enfants pour avoir la même hauteur */
}

.faq-questions {
  width: 50%; /* Largeur du bloc de questions */
  padding: 20px; /* Ajout d'un peu d'espacement */
}
.faq-questions h4 {
  font-size: 1.6em;
}

.faq-item {
  margin-bottom: 20px; /* Marge entre les questions */
}

.faq-question {
  display: flex; /* Utiliser Flexbox pour centrer verticalement */
  align-items: center; /* Centrer verticalement le contenu */
  justify-content: space-between; /* Espacement entre la question et la flèche */
  cursor: pointer; /* Curseur pour indiquer qu'il est cliquable */
  font-weight: bold; /* Gras pour la question */
  padding: 15px; /* Espacement interne */
  background-color: #333; /* Couleur de fond des questions */
  border-radius: 5px; /* Coins arrondis */
  transition: background-color 0.3s; /* Transition pour un effet de survol */
}

.faq-question:hover {
  background-color: #444; /* Changement de couleur au survol */
}

.faq-answer {
  display: none; /* Masquer la réponse par défaut */
  padding: 15px; /* Espacement interne */
  background-color: #444; /* Couleur de fond des réponses */
  border-radius: 5px; /* Coins arrondis */
}

.faq-image {
  width: 30%; /* Largeur du bloc d'image réduite */
  padding: 30px; /* Espacement interne */
  border-radius: 5px; /* Coins arrondis */
  position: relative; /* Pour le positionnement de l'image */
  overflow: hidden; /* Masquer les débordements */
  display: flex; /* Utiliser Flexbox pour centrer le contenu */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
  height: 100%; /* Faire en sorte que la hauteur s'étende pour égaliser les dimensions */
}

.faq-image img {
  width: 100%; /* Rendre l'image responsive */
  height: auto; /* Conserver le ratio d'aspect */
  display: block; /* Évite les espaces en dessous de l'image */
  object-fit: cover; /* Couvre le conteneur sans déformer l'image */
}

.faq-text {
  text-align: center; /* Centrer le texte */
  color: white; /* Couleur du texte */
  position: absolute; /* Positionnement absolu pour superposer le texte */
  top: 50%; /* Ajuster la position verticale du texte */
  left: 50%; /* Ajuster la position horizontale du texte */
  transform: translate(-50%, -50%); /* Centrer le texte */
  padding: 10px; /* Ajout d'un peu d'espacement */
}

.faq-text h3 {
  font-size: 1.7em; /* Taille du texte */
  margin-bottom: 10px; /* Marge sous le titre */
}

.faq-text p {
  margin-bottom: 20px; /* Marge sous le paragraphe */
}

.button {
  display: inline-block; /* Bouton en ligne */
  padding: 10px 20px; /* Espacement interne du bouton */
  background-color: #ffd700; /* Couleur du bouton */
  color: black; /* Couleur du texte du bouton */
  text-decoration: none; /* Pas de soulignement */
  border-radius: 5px; /* Coins arrondis */
  transition: background-color 0.3s; /* Transition pour l'effet au survol */
}

.button:hover {
  background-color: #e6c800; /* Changement de couleur au survol */
}

.arrow {
  margin-left: auto; /* Pousse la flèche à droite */
  align-self: flex-start; /* Aligner la flèche en haut du bloc */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .faq-content {
    flex-direction: column; /* Passer en colonne sur petits écrans */
    align-items: center; /* Centrer le contenu dans le conteneur */
  }
  .faq-questions {
    width: 100%; /* Largeur complète sur petits écrans */
    padding: 10px; /* Moins d'espacement */
    text-align: center; /* Centrer le texte */
  }
  .faq-questions h4 {
    font-size: 1.3em;
  }
  .faq-item {
    width: 100%; /* Élargir les items de questions */
    margin-bottom: 10px; /* Réduire la marge entre les items */
    text-align: center; /* Centrer le texte de chaque item */
  }
  .faq-image {
    width: 100%; /* Largeur complète sur petits écrans */
    padding: 20px; /* Moins d'espacement */
  }
  .faq-title h2 {
    font-size: 2em; /* Réduction de la taille du titre */
    text-align: center; /* Centrer le titre */
  }
  .faq-text {
    text-align: center; /* Centrer le texte dans cette section */
  }
  .faq-text h3 {
    font-size: 1.5em; /* Réduction de la taille du sous-titre */
  }
  .faq-text p {
    font-size: 0.9em; /* Réduction de la taille du texte */
  }
}
@media (max-width: 480px) {
  .faq-image {
    padding: 10px; /* Réduire l'espacement sur très petits écrans */
  }
  .faq-title h2 {
    font-size: 1.5em; /* Réduction de la taille du titre */
  }
  .faq-text h3 {
    font-size: 1.3em; /* Réduction de la taille du sous-titre */
  }
  .faq-text p {
    font-size: 0.8em; /* Réduction de la taille du texte */
  }
}
.maintenance-package {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d3d3d3;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}
.maintenance-package .maintenance-content {
  flex: 1;
  margin-right: 20px;
}
.maintenance-package .maintenance-content h2 {
  font-size: 2rem;
  margin-bottom: 15px;
}
.maintenance-package .maintenance-content .maintenance-price {
  font-size: 1.5rem;
  color: #2caeb4;
  margin-bottom: 15px;
}
.maintenance-package .maintenance-content p {
  font-size: 1rem;
  line-height: 1.5;
  color: #555;
}
.maintenance-package .maintenance-content p i {
  margin-right: 10px;
  color: #2caeb4;
}
.maintenance-package .maintenance-content p:not(:last-child) {
  margin-bottom: 10px;
}
.maintenance-package .maintenance-image {
  flex: 0 0 700px;
  max-width: 700px;
}
.maintenance-package .maintenance-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .maintenance-package {
    flex-direction: column;
    align-items: flex-start;
  }
  .maintenance-package .maintenance-content {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .maintenance-package .maintenance-image {
    flex: none;
    width: 100%;
  }
  .maintenance-package .maintenance-image img {
    max-width: 100%;
    height: auto;
  }
}
.creation {
  padding: 50px 0;
  background: linear-gradient(to bottom, #2caeb4, #50bba3, #75c993, #a3d680);
}
.creation .container {
  display: block;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
  overflow: hidden;
}
.creation .creation-title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 100px;
  color: #333;
  border: solid 2px;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 100px;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s ease, transform 2s ease;
}
.creation .creation-title.is-visible {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 768px) {
  .creation .creation-title {
    font-size: 2rem;
    margin-bottom: 50px;
    padding: 10px 50px;
  }
}
.creation .creation-list .swiper-container {
  width: 100%;
  padding: 20px 0;
  position: relative;
  overflow: hidden;
}
.creation .creation-list .swiper-wrapper {
  display: flex;
}
.creation .creation-list .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  border: solid;
  border-radius: 25px;
  text-align: center;
  width: 90%;
  max-width: 400px;
  height: auto;
}
@media (max-width: 768px) {
  .creation .creation-list .swiper-slide {
    width: 40%;
  }
}
.creation .creation-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: opacity 1s ease, transform 1s ease;
  opacity: 0;
  transform: translateY(100px);
}
.creation .creation-item.is-visible {
  opacity: 1;
  transform: translateY(0);
}
.creation .creation-item:hover {
  transform: scale(1.05);
}
.creation .creation-item .creation-image img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.creation .creation-item h3 {
  font-size: 1.5em;
  margin: 15px 0 10px;
  color: #333;
}
@media (max-width: 768px) {
  .creation .creation-item h3 {
    font-size: 1.2em;
    margin: 10px 0 5px;
  }
}
.creation .creation-item a {
  color: black;
}
.creation .creation-item p {
  font-size: 0.9em;
  color: rgb(65, 66, 64);
  padding: 0 10px 20px;
  font-weight: 600;
}
@media (max-width: 768px) {
  .creation .creation-item p {
    font-size: 0.8em;
    padding: 0 10px 15px;
  }
}
.creation .creation-item .btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background: linear-gradient(to bottom, #50bba3, #75c993, #a3d680);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.creation .creation-item .btn:hover {
  background-color: #555;
}
@media (max-width: 768px) {
  .creation .creation-item .btn {
    padding: 8px 15px;
  }
}

@media (max-width: 768px) {
  .creation .container {
    padding: 0 15px;
  }
  .creation-list .swiper-slide {
    width: 90%;
  }
}
.creation-detail {
  padding: 50px 0;
  background-color: black;
  display: block;
  text-align: -webkit-center;
}
.creation-detail .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
}
.creation-detail .creation-header {
  text-align: center;
  margin-bottom: 40px;
  width: 100%;
}
.creation-detail .creation-header h1 {
  font-size: 3.5em;
  background: linear-gradient(to bottom, #2caeb4, #50bba3, #75c993, #a3d680);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; /* Pour s'assurer que le texte est transparent pour d'autres navigateurs */
  display: inline-block; /* Pour éviter les problèmes avec les éléments block */
}
.creation-detail .creation-header .creation-date {
  font-size: 1.2em;
  background: linear-gradient(to bottom, #2caeb4, #50bba3, #75c993, #a3d680);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.creation-detail .creation-content {
  background: linear-gradient(to bottom, #2caeb4, #50bba3, #75c993, #a3d680);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 70%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.creation-detail .creation-content .creation-image {
  text-align: center;
  margin-bottom: 30px;
  width: 40vw;
}
.creation-detail .creation-content .creation-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.creation-detail .creation-content .creation-description p {
  font-size: 1.1em;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}
.creation-detail .creation-content .creation-description .objectif {
  font-size: 30px;
}
.creation-detail .creation-content .creation-description h3 {
  font-size: 30px;
  text-decoration: underline;
}
.creation-detail .creation-content .creation-description h4 {
  font-size: 25px;
}
.creation-detail .creation-content .creation-technologies {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: solid;
  border-radius: 15px;
  padding: 15px;
}
.creation-detail .creation-content .creation-links {
  margin-top: 20px;
  display: flex;
  gap: 15px;
}
.creation-detail .creation-content .creation-links .btn {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease;
  position: relative;
  font-family: "Caveat", cursive;
  font-weight: bold;
}
.creation-detail .creation-content .creation-links .btn:hover {
  animation: swing 0.5s ease-in-out;
}
.creation-detail .creation-content .creation-links .btn .icon {
  max-width: 24px;
  height: auto;
  margin-right: 5px;
}
.creation-detail .creation-content .creation-links .github-btn .icon {
  max-width: 50px;
}
.creation-detail .creation-content .creation-links .site-btn .icon {
  max-width: 24px;
}
@keyframes swing {
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 768px) {
  .creation-detail {
    display: block;
    padding: 30px 0;
  }
  .creation-detail .creation-header h1 {
    font-size: 2.5em;
  }
  .creation-detail .creation-content {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
  }
  .creation-detail .creation-content p {
    font-size: 1.1em;
  }
  .creation-detail .creation-image img {
    max-width: 100%;
  }
  .creation-detail .creation-technologies {
    justify-content: center;
  }
  .creation-detail .creation-links {
    text-align: center;
  }
  .creation-detail .creation-description .objectif {
    font-size: 27px;
  }
}
.home-contact-section {
  position: relative;
  padding: 80px 60px;
  background-image: url("<?php echo get_template_directory_uri(); ?>/assets/images/contacte.webp");
  background-size: cover;
  background-position: center;
  color: #fff;
}
.home-contact-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.home-contact-section .container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  text-align: center;
  z-index: 2;
}
.home-contact-section .container .contact-title {
  font-size: 3em;
  margin: 0 auto 70px auto;
  color: #fff;
  border: solid 2px;
  border-radius: 10px;
  display: inline-block;
  padding: 10px 70px;
  text-align: center;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 2s ease, transform 2s ease;
}
.home-contact-section .container .contact-title.is-visible {
  opacity: 1;
  transform: translateY(0);
}
@media (max-width: 768px) {
  .home-contact-section .container .contact-title {
    font-size: 2.5rem;
  }
}
@media (max-width: 480px) {
  .home-contact-section .container .contact-title {
    font-size: 2rem;
  }
}
.home-contact-section .container .contact-content {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 40px;
  position: relative;
}
.home-contact-section .container .contact-content .contact-info {
  text-align: left;
}
.home-contact-section
  .container
  .contact-content
  .contact-info
  .contact-subtitle {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .home-contact-section
    .container
    .contact-content
    .contact-info
    .contact-subtitle {
    font-size: 1.2rem;
  }
}
@media (max-width: 480px) {
  .home-contact-section
    .container
    .contact-content
    .contact-info
    .contact-subtitle {
    font-size: 1.2rem;
  }
}
.home-contact-section
  .container
  .contact-content
  .contact-info
  .contact-button {
  display: inline-block;
  padding: 20px 35px;
  background-color: #ffd700;
  color: black;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}
.home-contact-section
  .container
  .contact-content
  .contact-info
  .contact-button
  i {
  margin-right: 10px;
}
.home-contact-section
  .container
  .contact-content
  .contact-info
  .contact-button:hover {
  background-color: #fff;
}
@media (max-width: 768px) {
  .home-contact-section
    .container
    .contact-content
    .contact-info
    .contact-button {
    padding: 10px 20px;
    font-size: 1rem;
    margin: 20px auto;
  }
}
@media (max-width: 480px) {
  .home-contact-section
    .container
    .contact-content
    .contact-info
    .contact-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }
}

.contact-page {
  text-align: center;
  padding: 50px 20px;
  background: linear-gradient(to bottom, #a3d680, #75c993, #50bba3, #2caeb4);
}
.contact-page .contact-title {
  font-size: 3rem;
  color: #333;
  margin-bottom: 20px;
}
.contact-page .contact-subtitle {
  font-size: 1.5rem;
  color: #777;
  margin-bottom: 30px;
}
.contact-page .contact-intro {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 50px;
}
.contact-page .contact-blocks {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.contact-page .contact-blocks .contact-block {
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 350px;
  text-align: center;
}
.contact-page .contact-blocks .contact-block i {
  font-size: 3.5rem;
  margin-bottom: 10px;
}
.contact-page .contact-blocks .contact-block h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  background-color: #ffd700;
}
.contact-page .contact-blocks .contact-block p,
.contact-page .contact-blocks .contact-block a {
  font-size: 1rem;
  color: #333;
}
.contact-page .contact-blocks .contact-block .btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: black;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
.contact-page .contact-blocks .contact-block .btn:hover {
  background-color: rgb(56, 53, 53);
}

.contact-section {
  width: 65%; /* Largeur du conteneur */
  margin: 60px auto; /* Centre la section et ajoute de l'espace en haut et en bas */
  padding: 20px; /* Ajoute de l'espace intérieur */
  background: linear-gradient(
    to bottom,
    #333,
    #000
  ); /* Dégradé de gris à noir */
  color: white; /* Texte blanc */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Légère ombre */
}
.contact-section h2 {
  font-size: 2rem;
  margin-bottom: 10px; /* Espace sous le titre */
  text-align: center; /* Centrer le texte */
  background: linear-gradient(to bottom, #2caeb4, #50bba3, #75c993, #a3d680);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent; /* Pour s'assurer que le texte est transparent pour d'autres navigateurs */
  display: inline-block; /* Pour
}

p {
  text-align: center; /* Centrer le texte */
  margin-bottom: 30px; /* Espace sous le paragraphe */
}
.contact-section .contact-form {
  max-width: 650px; /* Limite la largeur du formulaire */
  margin: 0 auto; /* Centre le formulaire dans le conteneur */
  padding: 40px 20px; /* Espace intérieur du formulaire */
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Légère transparence pour le fond */
  border-radius: 10px; /* Coins arrondis */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour le formulaire */
  /* Réduction de la taille du texte pour le dernier item (case à cocher) */
}
.contact-section .contact-form input,
.contact-section .contact-form textarea {
  width: 70%; /* Prend toute la largeur du conteneur */
  padding: 10px; /* Réduit le rembourrage */
  margin-bottom: 15px; /* Espacement vertical entre les champs */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem; /* Réduit la taille de la police */
  color: #333;
  background-color: #fff; /* Fond blanc pour les champs */
  transition: border-color 0.3s ease;
  box-sizing: border-box; /* Pour s'assurer que les bordures et paddings ne cassent pas la mise en page */
}
.contact-section .contact-form input:focus,
.contact-section .contact-form textarea:focus {
  border-color: #2caeb4; /* Met en surbrillance le champ actif */
}
.contact-section .contact-form textarea {
  min-height: 120px; /* Réduit la hauteur minimum pour les textarea */
}
.contact-section .contact-form input[type="submit"] {
  width: 100%; /* Prend toute la largeur */
  padding: 10px; /* Réduit le rembourrage du bouton */
  background-color: #fff; /* Fond blanc pour le bouton */
  color: black; /* Texte noir */
  font-size: 1rem; /* Réduit la taille de la police du bouton */
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin: 20px auto; /* Centre le bouton et ajoute de l'espace au-dessus et en-dessous */
}
.contact-section .contact-form input[type="submit"]:hover {
  background-color: #ffd700; /* Changement de couleur au survol */
  transform: translateY(-2px); /* Effet de soulevement */
}
.contact-section .contact-form .wpcf7-form-control.wpcf7-checkbox {
  font-size: 0.9rem; /* Réduit la taille de la police de la case à cocher */
  margin-top: 10px; /* Ajoute de l'espace au-dessus de la case à cocher */
  color: white; /* Assure que le texte est en blanc */
  text-align: center; /* Centre le texte de la case à cocher */
  /* Centre le bouton de la case à cocher */
  display: flex; /* Utilise flexbox pour centrer */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}
.contact-section
  .contact-form
  .wpcf7-form-control.wpcf7-checkbox
  .wpcf7-form-control.wpcf7-checkbox {
  font-size: 0.9rem; /* Taille de la police pour la case à cocher */
  margin-top: 10px; /* Espace au-dessus de la case à cocher */
  color: white; /* Couleur du texte en blanc */
  text-align: center; /* Centre le texte de la case à cocher */
  display: flex; /* Utilisation de flexbox pour centrer */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}
.contact-section
  .contact-form
  .wpcf7-form-control.wpcf7-checkbox
  .wpcf7-form-control.wpcf7-checkbox
  input[type="checkbox"] {
  width: auto; /* Réduit la largeur du checkbox */
  height: auto; /* Réduit la hauteur si nécessaire */
  margin-right: 5px; /* Réduit l'espace entre la case et le texte */
}
@media (max-width: 768px) {
  .contact-section {
    width: 90%; /* Réduit la largeur du conteneur sur les petits écrans */
    padding: 10px; /* Réduit l'espace intérieur sur les petits écrans */
  }
  .contact-section .contact-form {
    padding: 20px; /* Réduit l'espace intérieur du formulaire sur les petits écrans */
    /* Réduction de la taille du texte pour le dernier item (case à cocher) */
  }
  .contact-section .contact-form input,
  .contact-section .contact-form textarea {
    padding: 10px; /* Réduit le rembourrage des champs sur les petits écrans */
    font-size: 1rem; /* Ajuste la taille de la police des champs sur les petits écrans */
  }
  .contact-section .contact-form input[type="submit"] {
    padding: 12px; /* Ajuste le rembourrage du bouton sur les petits écrans */
    font-size: 1rem; /* Réduit la taille de la police du bouton sur les petits écrans */
  }
  .contact-section .contact-form .wpcf7-form-control.wpcf7-checkbox {
    font-size: 0.8rem; /* Réduit encore la taille de la police de la case à cocher sur mobile */
  }
}

.home-footer-section {
  padding: 60px 20px;
  background-color: #000;
}
.home-footer-section .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
@media (max-width: 768px) {
  .home-footer-section .container {
    flex-direction: column;
    text-align: center;
  }
}
.home-footer-section .container .footer-logo {
  flex: 1;
  margin-bottom: 20px;
  text-align: center;
}
.home-footer-section .container .footer-logo img {
  max-width: 80%;
  height: auto;
}
@media (max-width: 768px) {
  .home-footer-section .container .footer-logo img {
    max-width: 60%;
  }
}
.home-footer-section .container .footer-text {
  flex: 2;
  text-align: center;
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  .home-footer-section .container .footer-text {
    font-size: 1rem;
  }
}
.home-footer-section .container .footer-links {
  flex: 1;
  text-align: right;
}
@media (max-width: 768px) {
  .home-footer-section .container .footer-links {
    text-align: center;
  }
}
.home-footer-section .container .footer-links ul {
  list-style: none;
  padding: 0;
}
.home-footer-section .container .footer-links ul li {
  margin: 10px 0;
}
.home-footer-section .container .footer-links ul li a {
  color: #ffd700;
  text-decoration: underline;
  transition: color 0.3s ease;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.home-footer-section .container .footer-links ul li a:hover {
  color: #ccc;
}

body {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "caveat", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
}

section {
  width: 100%;
  max-width: 100%;
} /*# sourceMappingURL=style.css.map */
