@media (max-width: 768px) {
  .site-footer {
    .footer-links,
    .footer-copyright {
      display: block; // Assure que les éléments sont affichés sur mobile
      text-align: center; // Centre le texte si nécessaire
      padding: 10px; // Ajoute un peu de padding pour améliorer la lisibilité
    }
  }

  .footer-links ul {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
  }

  .footer-links li.menu-item {
    margin: 5px 0;
  }
}
