.site-footer {
  background-color: black; // Fond noir pour le footer sur toutes les tailles d'écran
  color: white; // Texte en blanc par défaut

  .footer-links,
  .footer-copyright {
    text-align: center; // Centrer le contenu
    padding: 15px; // Ajoute un peu d'espacement pour un design aéré
  }

  .footer-links a {
    color: white; // Liens en blanc
    text-decoration: none; // Retire les soulignements par défaut
    transition: color 0.3s ease; // Transition pour un effet de hover fluide
  }

  .footer-links ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none; // Retire les puces par défaut des listes
  }

  .footer-links li {
    margin: 0 10px; // Espacement horizontal entre les liens
  }

  // Styles spécifiques pour mobile
  @media (max-width: 768px) {
    .footer-links ul {
      flex-direction: column; // Affiche les liens en colonne
      align-items: center; // Centre les liens
    }

    .footer-links li {
      margin: 5px 0; // Espacement vertical entre les liens
    }
  }
}
