// Styles généraux pour le menu principal en desktop

.menu {
  li {
    list-style: none;

    a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      color: black;
      text-transform: uppercase;
      margin-top: 14px;
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-logo {
  flex: 0 0 auto;
  margin-left: 146px;
  margin-top: 14px;
}

.main-navigation {
  text-align: right;
  margin-right: 214px;
  display: flex;
  flex-direction: row-reverse;

  ul {
    display: flex;
    list-style: none;
    margin: 0;

    li {
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.menu-toggle {
  display: none;
}

// Effet au survol pour version desktop uniquement
@media (min-width: 769px) {
  .menu li a {
    position: relative; // Positionnement relatif pour l'effet au survol

    &::after {
      content: ""; // Pseudo-élément vide
      display: block; // Affichage en bloc
      width: 0; // Largeur initiale à 0 pour l'effet de transition
      height: 2px; // Hauteur du trait
      background: black; // Couleur du trait
      position: absolute; // Positionnement absolu
      bottom: -2px; // Positionnement juste en dessous du texte
      left: 0; // Alignement à gauche
      transition: width 0.3s ease; // Transition fluide pour la largeur
    }

    &:hover::after {
      width: 100%; // Largeur maximale au survol
    }
  }
}

// Media queries pour les tablettes et mobiles (MENU BURGER)

@media (max-width: 768px) {
  .site-header {
    position: relative; // Positionnement relatif pour établir un contexte de positionnement
    z-index: 1000; // Z-index élevé pour s'assurer que le header reste au-dessus
  }

  .site-logo {
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 50px;
  }

  .menu-toggle {
    display: block; // Affichage du bouton de menu burger
    background: transparent; // Fond transparent
    border: none; // Pas de bordure
    cursor: pointer; // Curseur pointeur
    position: relative; // Positionnement relatif
    z-index: 1001; // Z-index élevé pour s'assurer qu'il est au-dessus des autres éléments
    top: -26px; // Ajustement de la position verticale
    margin-left: 10px; // Réduction de la marge à gauche pour décaler vers la gauche

    .menu-toggle-icon {
      display: flex; // Affichage en flexbox
      flex-direction: column; // Direction des colonnes pour les lignes du menu
      justify-content: space-between; // Espace réparti autour des lignes
      width: 2rem; // Largeur
      height: 2rem; // Hauteur

      span {
        width: 1.5rem; // Largeur des lignes
        height: 0.2rem; // Hauteur des lignes
        background: #000; // Couleur de fond des lignes
        transition: transform 0.3s ease, opacity 0.3s ease; // Transition des transformations
      }
    }

    &.cross .menu-toggle-icon span:nth-child(1) {
      transform: rotate(-45deg) translate(1px, 6px); // Transformation pour créer la croix
    }

    &.cross .menu-toggle-icon span:nth-child(2) {
      opacity: 0; // Masquage de la deuxième ligne de la croix
    }

    &.cross .menu-toggle-icon span:nth-child(3) {
      transform: rotate(45deg) translate(-8px, -17px); // Transformation pour créer la croix
    }
  }

  .main-navigation {
    display: flex; // Affichage en flexbox
    flex-direction: column; // Direction des colonnes pour les éléments du menu
    position: absolute; // Position absolue
    top: 125px; // Ajustement de la position verticale en fonction de la hauteur du header
    left: 0; // Alignement à gauche
    width: 100%; // Largeur totale
    background: linear-gradient(
      to bottom,

      #a3d680,
      // Vert clair
      #75c993,
      // Vert moyen
      #50bba3,
      // Vert bleuté
      #2caeb4 // Vert profond
    );
    font-size: 1.5em; // Taille de police
    text-align: center; // Alignement du texte au centre
    justify-content: center; // Centrage du contenu
    height: 0; // Hauteur initiale à 0 pour l'effet de transition
    overflow: hidden; // Masquage du contenu dépassant la hauteur
    transition: height 0.5s ease; // Transition fluide de la hauteur
    z-index: 999; // Z-index pour s'assurer qu'il est au-dessus du contenu mais derrière le bouton de menu
    ul li {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .menu {
      list-style: none; // Suppression des puces de liste
      padding: 0; // Aucun padding
      margin: 0; // Aucune marge
      width: 100%; // Largeur totale
      justify-content: center; // Centrage des éléments du menu
      gap: 60px; // Espacement entre les éléments
      display: flex; // Affichage en flexbox
      flex-direction: column; // Direction des colonnes pour les éléments du menu
    }

    li.menu-item {
      a {
        color: #fff; // Couleur du texte
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); // Ombre du texte
        text-decoration: none; // Pas de soulignement
        padding: 8px 0; // Rembourrage vertical
        transition: background-color 0.3s ease, color 0.3s ease; // Transition de couleur
        font-size: 25px;
        &:hover {
          background-color: #f0f0f0; // Couleur de fond au survol
          color: #333; // Couleur du texte au survol
        }
      }
    }
  }

  .main-navigation.open {
    height: 90vh; // Hauteur maximale lorsque le menu est ouvert
  }
}
