// Styles généraux pour le menu principal en desktop

.menu {
  li {
    list-style: none;

    a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      color: black;
      text-transform: uppercase;
      margin-top: 14px;
    }
  }
}

.site-header.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 140px;
}

.site-logo {
  flex: 0 0 auto;
  margin-left: 146px;
  margin-top: 14px;
}

.main-navigation {
  text-align: right;
  margin-right: 214px;
  display: flex;
  flex-direction: row-reverse;

  ul {
    display: flex;
    list-style: none;
    margin: 0;

    li {
      margin-left: 20px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.menu-toggle {
  display: none;
}

// Effet au survol pour version desktop uniquement
@media (min-width: 769px) {
  .menu li a {
    position: relative; // Positionnement relatif pour l'effet au survol

    &::after {
      content: ""; // Pseudo-élément vide
      display: block; // Affichage en bloc
      width: 0; // Largeur initiale à 0 pour l'effet de transition
      height: 2px; // Hauteur du trait
      background: black; // Couleur du trait
      position: absolute; // Positionnement absolu
      bottom: -2px; // Positionnement juste en dessous du texte
      left: 0; // Alignement à gauche
      transition: width 0.3s ease; // Transition fluide pour la largeur
    }

    &:hover::after {
      width: 100%; // Largeur maximale au survol
    }
  }
}

// Media queries pour les tablettes et mobiles (MENU BURGER)
@media (max-width: 768px) {
  .site-header {
    position: relative;
    z-index: 1000;
    .container {
      height: 100px;
    }
  }

  .site-logo {
    margin-left: 20px;
    margin-top: 3px;
    margin-bottom: 50px;
    img {
      width: 180px;
      margin-top: 38px;
    }
  }

  .menu-toggle {
    display: flex; // Utiliser flex pour centrer le contenu
    justify-content: center; // Centrer horizontalement
    align-items: center; // Centrer verticalement
    background-color: #ffd700; // Couleur de fond du carré
    border: none; // Pas de bordure
    cursor: pointer; // Curseur pointeur
    position: relative; // Positionnement relatif
    z-index: 1001; // Élever le z-index
    width: 60px; // Largeur du carré (ajustée)
    height: 60px; // Hauteur du carré (ajustée)
    margin-left: 10px; // Ajustement à gauche si nécessaire
    margin-bottom: 25px; // Ajustement en haut si nécessaire
    margin-right: 20px;

    .menu-toggle-icon {
      display: flex;
      flex-direction: column;
      justify-content: center; // Centrer les spans
      align-items: center; // Centrer les spans
      width: 2rem; // Largeur des spans (ajustée pour plus de taille)
      height: 2rem; // Hauteur des spans (ajustée pour plus de taille)

      span {
        width: 1.2rem; // Largeur des lignes (ajustée pour plus de taille)
        height: 0.25rem; // Épaisseur des lignes (ajustée pour plus de taille)
        background: black; // Couleur blanche
        transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
        display: block;
        margin: 4px 0; // Écarter les spans lorsqu'ils sont fermés

        // Ajustements pour écarter les spans lorsqu'ils sont fermés
        &.closed {
          transform: translateY(0); // Pas de translation lorsqu'ils sont fermés
        }
      }
    }
    // Ajustements pour une croix bien centrée et équilibrée
    &.cross .menu-toggle-icon span:nth-child(1) {
      transform-origin: -5% 150%; // Origine de la transformation en haut à gauche
      transform: rotate(45deg) translate(0px, 0); // Ajustement pour former la croix
    }

    &.cross .menu-toggle-icon span:nth-child(2) {
      opacity: 0; // Masquage de la ligne centrale
    }

    &.cross .menu-toggle-icon span:nth-child(3) {
      transform-origin: 0% -180%; // Origine de la transformation en bas à gauche
      transform: rotate(-45deg) translate(0, -5px); // Ajustement pour former la croix
    }
  }

  .main-navigation {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 80px; // Ajuste si nécessaire
    left: 0;
    width: 100%;
    background: linear-gradient(to bottom, #a3d680, #75c993, #50bba3, #2caeb4);
    font-size: 1em;
    text-align: center;
    justify-content: center;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
    z-index: 999;

    ul li {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .menu {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      justify-content: center;
      gap: 40px;
      display: flex;
      flex-direction: column;
    }

    li.menu-item {
      a {
        color: #fff;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        padding: 4px 0;
        transition: background-color 0.3s ease, color 0.3s ease;
        font-size: 18px;
        &:hover {
          background-color: #f0f0f0;
          color: #333;
        }
      }
    }
  }

  .main-navigation.open {
    height: 70vh; // Hauteur du menu ouvert
  }

  // Désactiver le scroll lorsque le menu est ouvert
  body.menu-open {
    overflow: hidden;
  }
}
