.parcours {
  padding: 50px 0 100px 0; /* Marge interne en haut et en bas */
  background: linear-gradient(
    to bottom,

    #a3d680,
    /* Vert clair */ #75c993,
    /* Vert moyen */ #50bba3,
    /* Vert bleuté */ #2caeb4 /* Vert profond */
  );

  .parcours-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    gap: 40px;

    .parcours-image {
      flex: 1;
      text-align: center;

      img {
        max-width: 80%; /* Ajuste la taille de l'image à 80% du conteneur */
        height: auto;
        border-radius: 50%; /* Image en cercle */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre légère */
      }
    }

    .parcours-text {
      flex: 2;
      font-size: 1.2em;
      line-height: 1.6;
      text-align: center;

      h2 {
        display: inline-block;
        font-size: 3em;
        color: #333;
        padding: 10px 50px; /* Ajoute du padding pour aérer le cadre */
        margin-bottom: 20px;

        @media (max-width: 768px) {
          font-size: 2rem;
        }
      }

      p {
        color: #555;

        @media (max-width: 768px) {
          font-size: 17px;
        }
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;

      .parcours-image {
        max-width: 80%;
      }
    }
  }

  .parcours-extra {
    max-width: 800px;
    margin: 80px auto 0 auto;
    padding: 20px;
    border-top: 2px solid #e0e0e0; /* Ligne de séparation */
    border-bottom: 2px solid #e0e0e0; /* Ligne de séparation */
    text-align: center;

    p {
      font-size: 1em;
      color: #555;
      margin-bottom: 20px;
      margin-top: 50px;
    }

    .links {
      display: flex;
      justify-content: center;

      .btn {
        display: flex; /* Utiliser flex pour l'alignement des boutons */
        align-items: center; /* Alignement des icônes et du texte */
        padding: 10px;
        text-transform: uppercase; /* Garder les textes en majuscule */
        text-decoration: none;
        border-radius: 4px;
        transition: transform 0.3s ease, background-color 0.3s ease,
          color 0.3s ease;
        position: relative;
        color: #333;
        font-size: 70%;

        &:hover {
          animation: swing 0.5s ease-in-out; /* Ajouter l'animation swing au survol */
        }

        .icon {
          height: auto;
          margin-right: 30px;
          margin-left: 30px;
        }
      }
    }
  }

  @keyframes swing {
    20% {
      transform: rotate(15deg);
    }
    40% {
      transform: rotate(-10deg);
    }
    60% {
      transform: rotate(5deg);
    }
    80% {
      transform: rotate(-5deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

@media (max-width: 768px) {
  .parcours-container {
    padding: 0 10px;
  }

  .parcours-text {
    text-align: center;
  }

  .parcours-extra {
    text-align: center;

    .links {
      align-items: center;

      .btn {
        margin-bottom: 15px;
      }
    }
  }
}
