.services-tarifs-container {
  padding: 50px;
  background: linear-gradient(
    to bottom,
    #a3d680,
    // Vert clair
    #75c993,
    // Vert moyen
    #50bba3,
    // Vert bleuté
    #2caeb4 // Vert profond
  );
  color: #333;

  .services-title {
    font-size: 3.6rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .services-intro {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 100px;
    text-align: center;
  }

  .info-text {
    font-style: italic;
    color: #808080;
  }

  .creations-button {
    text-align: center;
    margin-bottom: 50px;

    .btn {
      background-color: #ffd700;
      color: black;
      padding: 20px 50px;
      border-radius: 20px;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }

    .btn:hover {
      background-color: #fff;
    }
  }

  .services-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; // Centrer les blocs
    gap: 30px; // Espace entre les blocs
    margin-top: 100px;
    margin-bottom: 100px;

    .service-block {
      flex: 1 1 300px; // Largeur de base mais flexible
      max-width: 350px; // Limite la largeur maximale
      width: 100%; // Prend toute la largeur disponible
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1), 0 8px 20px rgba(0, 0, 0, 0.2);
      margin: 0 auto;

      h2 {
        font-size: 2rem;
        margin-bottom: 15px;
        text-align: center;
      }

      .service-description {
        font-size: 1rem;
        margin-bottom: 15px;
      }

      .service-price {
        font-size: 1.6rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 20px;
        color: #2caeb4;
        border-bottom: solid;
      }

      .service-details {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          margin-bottom: 15px;

          img {
            width: 20px;
            height: 20px;
            margin-right: 10px; // Ajuster cet espace selon vos besoins
          }

          span {
            // Ajoutez un span pour le texte
            margin-left: 5px; // Ajuste l'espacement autour du texte
          }
        }
      }
    }
  }
}

// Médias queries pour rendre la page responsive
@media (max-width: 768px) {
  .services-tarifs-container {
    padding: 30px;

    .services-title {
      font-size: 2.4rem;
    }

    .services-intro {
      font-size: 1rem;
    }

    .services-grid {
      gap: 20px; // Réduit l'espace entre les blocs
    }

    .service-block {
      padding: 20px; // Réduit le padding dans les blocs
    }
  }
}

@media (max-width: 480px) {
  .services-tarifs-container {
    padding: 20px;

    .services-title {
      font-size: 2.2rem;
    }

    .services-intro {
      font-size: 0.9rem;
    }

    .creations-button .btn {
      padding: 10px 20px; // Réduit la taille du bouton sur les petits écrans
    }

    .services-grid {
      gap: 15px; // Réduit l'espace entre les blocs encore plus
    }

    .service-block {
      padding: 15px; // Réduit le padding dans les blocs de service
      max-width: 100%; // Assure que les blocs prennent toute la largeur disponible
    }

    .service-price {
      font-size: 1.2rem; // Ajuste la taille du prix
    }

    .service-description {
      font-size: 0.9rem; // Ajuste la taille de la description
    }
  }
}
